/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.container h1 span{
	color: purple;
	font-style: normal;
	
	
}.hey
{
	margin-left 25px;
}
.container h1 .b{
	color:green;
}

.page-header h3{
	font-size:20px;
	color:#5d7fa2;
}
.page-header span{
	
}

.frm{
	width:90%;
	margin:3px auto;
	border: solid 1px #EEEEEE;
}
.span3{
	margin-top: 40px;
	margin-right: 5px;
}
#herobox {
    width: 940px;
    height: 190px;
    margin: 10px auto;
    border: 1px solid rgb(45, 223, 223);
    background-color: rgb(255, 255, 255);
    font-size: 120%;
    line-height: 1.2;
    font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
}
#herobox #hero-content {
    height: 184px;
    background-color: rgb(250, 270, 240);
    background-image: url("bgg.PNG");
    background-repeat:repeat;
    background-position:1px -21px;;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    
}
#herobox #close {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}
#herobox #blurb {
    font-size: 105%;
    margin: 20px;
    float: left;
    width: 300px;
    height: 144px;
}
#herobox #desc {
    margin-top: 20px;
    margin-left: 370px;
}
#herobox #hiw {
    list-style-type: none;
}
ol {
    list-style: decimal outside none;
    margin-left: 30px;
    margin-bottom: 1em;
}
#herobox #hiw li {
    margin-left: 375px;
    padding: 90px 0px 0px;
    height: 40px;
    background-image: url("../Img/sprite-herobox.png");
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    text-align: center;
    color: rgb(109, 109, 109);
    cursor: pointer;
}
#herobox #q {
    background-position: 0px -10px;
    width: 120px;
    left: 0px;
}
#herobox #an {
    background-position: -150px -10px;
    left: 170px;
    width: 130px;
}
#herobox #hiw li {
    margin-left: 375px;
    padding: 90px 0px 0px;
    height: 40px;
    background-image: url("../Img/sprite-herobox.png");
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    text-align: center;
    color: rgb(109, 109, 109);
    cursor: pointer;
    
}
#herobox #b {
    background-position: -280px -10px;
    left: 340px;
    width: 200px;
}





.ribbon{
	width: 940px;
	position:relative;
	z-index:1;
	
	height: 90px;
	margin:0 auto;
	background: url("ribbons.png");
	border-bottom: dashed 1px green;
}
.wide{
	background:#DDDDD
}.brand span{
	background: #ED8915;
	padding: 15px 2px;
	border-radius: 0 25px; 1px 15px;
}
.brand:hover{
	background: none;
	color:green
}
.cat{
	background: #eeee;
	height:35px;
	text-align:left;
	border-radius:15px 15px 0 0px;
	padding: 5px 3px 3px 20px;
	border: solid 1px #add;
	font-size: 20px;
	font-weight: bold;
	color:green;
	box-shadow: 2px -1px 5px green;
	
}
.catinner{
	background: #adef;
	height:auto;
	
	text-align:left;
	border-radius:0px 0px 15px 15px;
	padding: 5px 3px 10px 20px;
	border: solid 1px #add;
	font-size: 20px;
	font-weight: bold;
	
}
.catinner .navlist{
	
margin-left: 0;
padding-left: 0;
list-style: none;
}
.admin{
  display:none;
}
.page-header.hover .admin{
  display:inline;
}
.navlist li
{
padding-left: 10px;
background-image: url("bullet1.png");
text-decoration: none;

}
.post h3{
	
	margin-bottom:-3px;
	
	
}

.navlist li a{
	text-decoration: none;
}
.navlist ul li a:hover{
	color: green;
	background-color:none;
	
}
.footer{
	border-top: 1px #5d7fa2 solid;
	width: 940px;
	margin:10px auto;
	background: #D9D9D9;
	height:100px;
	
	
}
.footer .container p{
	padding:  10px;
}
.social  {
	padding:0;
	margin-right:3px;
	list-style: none;
	float :right;

	
	
}.k{
	visibility:hidden;
}
.navbar-inner{
	
	padding-top:10px;
}
.navbar-inner .container{
	margin-top:10px;
}
.social p{	padding:5px;
}
.social img {
	margin-top:0px ;
	margin-right:10px;
	
	
}
.part{
	margin: 0;
	list-style:none;
	
	height: 100px;	
}
.part li{
	float :left;
	margin: 10px 5px;
	
	}
	.part li img{
		width:97px;
		
	}
	.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
